<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container">
        
        <div class="content">    
        <form class="form" action="/publications">
            <p class="form-title">Sign in to your account</p>
            <div class="input-container">
            <input type="email" placeholder="Enter email">
            <span>
            </span>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Enter password">
            </div>
            <button type="submit" class="submit">
            Sign in
        </button>
    
        <p class="signup-link">
            No account?
            <a href="/">Sign up</a>
        </p>
        </form>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>